body {
    font-family: 'Benne', serif;
    font-family: 'Press Start 2P', cursive;
    background-image: url("img/living_room.jpg");
    background-size: cover;
}

div.game {
    border-style: double;
    border-color: lightgray;
    background-color: darkgray;
}

#monitorText {
    position: absolute;
    top: 20%;
    left: 25%;
    font-size: small;
}

.buttons {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 100%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
 
#popover {
    margin: 0;
    position: absolute;
    top: 40%;
    right: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div#newModal {
    background: black !important;
}
 