body {
    font-family: 'Benne', serif;
    font-family: 'Press Start 2P', cursive;
    background-image: url("img/living_room.jpg");
    background-size: cover;
}

div.game {
    border-style: double;
    border-color: lightgray;
    background-color: darkgray;
}

#monitorText {
    position: absolute;
    top: 20%;
    left: 25%;
    font-size: small;
}

.buttons {
    font-size: xx-small;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 60%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.popovers {
    margin: 0;
    position: absolute;
    top: 39%;
    left: 0%;
    /*-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
}
 
#leaderboard {
    font-size: xx-small;
    position: absolute;
    /*top: 119%;
    left: 72%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
}

 
#rules:hover {
    text-decoration: none;
    color: black;
}

#note:hover {
    color: black;
    cursor: pointer;
}

div#newModal {
    background: black !important;
}
 